<!--<div class="row main-content">
    <div class="col-sm-3">
        <div ng-repeat="category in vm.categories track by $index">
            <a ng-click="scrollTo('category' + $index)">{{category.name}}</a>
        </div> 
    </div>
    <div class="separator col-sm-9">
        <label>All books</label>
        <div ng-repeat="category in vm.categories track by $index">
            <div class="row">
                <div id="category{{$index}}" class="col-sm-8 category-header">{{category.name}}</div>
                <div ng-if="" class="col-sm-1 btn btn-warning edit-button" ng-click="vm.editCategory(category)"> edit</div>
                <div ng-if="" class="col-sm-1 btn btn-danger edit-button" ng-click="vm.deleteCategory(category.id)"> remove</div>
                <div ng-repeat="book in vm.books">
                    <div ng-if="category.id === book.category.id" class="col-sm-8 ">{{book.name}}</div>
                </div>
            </div>
        </div>
    </div>       
</div>-->


<div class="row">
    <div class="col-sm-9">
        <div class="jumbotron">
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Author</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in vm.books track by $index">
                        <td>{{$index}}</td>
                        <td>{{book.title}}</td>
                        <td><img src="images/placeholder.jpg" /></td>
                        <td>{{book.author}}</td>
                        <td>{{book.publishDate}}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
    <div class="col-sm-3">
        <div class="list-group">
            <button type="button" class="list-group-item">All</button>
            <button ng-repeat="category in vm.categories | orderBy: 'name'" type="button" class="list-group-item">{{category.name}}</button>
        </div>
    </div>
</div>