<div class="row">
    <div class="col-sm-9">
        <div class="jumbotron">
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Author</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in vm.books track by $index">
                        <td>{{$index}}</td>
                        <td>{{book.title}}</td>
                        <td><img src="images/placeholder.jpg" /></td>
                        <td>{{book.author}}</td>
                        <td>{{book.publishDate}}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
    <div class="col-sm-3">
        <div class="list-group">
            <button type="button" class="list-group-item">All</button>
            <button ng-repeat="category in vm.categories| orderBy: 'name'" type="button" class="list-group-item">{{category.name}}</button>
        </div>
    </div>
</div>