<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>Category name</th>
            </tr>
        </thead>
        <tbody ng-repeat="category in vm.categories track by $index">
            <tr>
                <td>{{category.name}}</td>
                <td>
                    <button class="btn btn-info " type="button" ng-click="vm.editCategory(category)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger " type="button" ng-click="vm.deleteCategory(category.id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" ng-click="vm.addCategory()" ng-show="!vm.showForm">
        ADD
    </button>
    <form name="vm.addCategoryForm" novalidate ng-class="{ 'has-error' : vm.addCategoryForm.name.$invalid && !vm.addCategoryForm.name.$pristine }" ng-show="vm.showForm">
        <div class="form-group">
            <label>Name</label>
            <input name="name" type="text" class="form-control" required ng-model="vm.category.name"/>
            <span class="error" ng-show="vm.addCategoryForm.name.$invalid && !vm.addCategoryForm.name.$pristine">* Name is required! </span>
            <br>
            <br>
            <button type="button" ng-disabled="vm.addCategoryForm.name.$invalid" class="btn btn-primary" ng-click="vm.saveCategory(vm.category)">
               OK
            </button>
            <button type="button" class="btn btn-warning" ng-click="vm.cancelForm()">
               CANCEL
            </button>
        </div>
    </form>
</div>



