<div class="col-sm-6">
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody ng-repeat="category in vm.categories track by $index">
            <tr>
                <td>{{category.name}}</td>
                <td class="option">
                    <button class="btn btn-info " data-toggle="modal" data-target="#addCategoryModal" type="button" ng-click="vm.editCategory(category)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td class="option">
                    <button class="btn btn-danger " data-toggle="modal" data-target="#deleteCategoryModal" type="button" ng-click="vm.selectCategory(category)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal" ng-click="vm.addCategory()">
        ADD
    </button>
    
    <!-- Modal -->
    <!-- Delete category -->
    <div class="modal fade" id="deleteCategoryModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Deleting category</h4>
          </div>
          <div class="modal-body">
            <p>Confirm that you want to delete <i>{{vm.category.name}}</i></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="vm.deleteCategory()">Confirm</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <!-- Creating category -->
    <div class="modal fade" id="addCategoryModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add category</h4>
          </div>
          <div class="modal-body">
            <!-- Category Form -->
            <form name="vm.addCategoryForm" novalidate ng-class="{ 'has-error' : vm.addCategoryForm.name.$invalid && !vm.addCategoryForm.name.$pristine }">
		        <div class="form-group">
		            <label>Name</label>
		            <input name="name" type="text" class="form-control" required ng-model="vm.category.name"/>
		            <span class="error" ng-show="vm.addCategoryForm.name.$invalid && !vm.addCategoryForm.name.$pristine">* Name is required! </span>
		            <br>
		        </div>
    		</form>
    		<div class="modal-footer">
                <button type="button" ng-disabled="vm.addCategoryForm.name.$invalid" data-dismiss="modal" class="btn btn-primary" ng-click="vm.saveCategory(vm.category)">OK</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="vm.cancelForm()">CANCEL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>



