<div class="container">
    <h1 class="text-center">{{headingTitle}}</h1>
    <div class="row">
        <category-directive></category-directive>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
    <div class="col-sm-12">
        <div ng-repeat="category in categories">
   	        <div class="row">
   	            <div class="col-sm-8 category-header">{{category.name}}</div>
   	            <div class="col-sm-1 btn btn-warning edit-button" ng-click="editCategory(category)"> edit</div>
   	            <div class="col-sm-1 btn btn-danger edit-button" ng-click="deleteCategory(category.id)"> remove</div>
   	        </div>
        </div>
    </div>
    </div>
</div>