<div class="col-sm-6">
    <form name="addBookForm" novalidate>
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Create Category">
                <ng-form name="addBookForm">
                    <div class="form-group">
                    
                        <br>
                        <label>Category: </label><br>
                        <select name="selectCategory" ng-options="category.name for category in categories track by category.id"
                        ng-model="book.category" required>
                        <option value="" ng-disabled="true" disabled>---Must select category---</option>
                        </select>
                        <br>
                        <br>
                        <label>ISBN:</label>
                        <input name="isbn" type="text" class="form-control" required ng-model="book.isbn"/>
                        <span class="error" ng-if="addBookForm.isbn.$error.required">* ISBN is required! </span>
                        <br>
                        <br>
                        <label>Name:</label>
                        <input name="name" type="text" class="form-control" required ng-model="book.name"/>
                        <span class="error" ng-if="addBookForm.name.$error.required">* Name is required! </span>
                        <br>
                        <br>
                        <label>Author:</label>
                        <input name="author" type="text" class="form-control" required ng-model="book.author"/>
                        <span class="error" ng-if="addBookForm.author.$error.required">* Author is required! </span>
                        <br>
                        <br>
                        <label>Publish date:</label>
                        <br>
                        <span class="input-group-btn calender-button">
                            <button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <input name="datePicker" type="text" class="form-control publish-date-class" uib-datepicker-popup ng-model="book.publishDate" is-open="popupCalendar.opened" datepicker-options="datePickerOptions" ng-required="true" close-text="Close" required/>
                        <br>
                        <span class="error" ng-if="addBookForm.datePicker.$error.required">* Publish date is required! </span>
                        <span class="error" ng-if="addBookForm.datePicker.$error.date">* Date is in wrong format!</span>
                        <br>
                        <label>Number of pages:</label>
                        <input name="numberOfPages" type="text" class="form-control" required ng-model="book.numberOfPages"/>
                        <span class="error" ng-if="addBookForm.numberOfPages.$error.required">* Number of pages is required! </span>
                        <br>
                        <br>
                        <button ng-disabled="addBookForm.$invalid" type="button" class="btn btn-primary" ng-click="saveBook(book)" >
                            OK
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="book = null" >
                            Clear
                        </button>

                    </div>
                </ng-form>
            </uib-tab>
        </uib-tabset>
    </form>
</div>