<div class="col-sm-6">
    <form name="addCategoryForm" novalidate>
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Create Category">
                <ng-form name="addCategoryForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input name="name" type="text" class="form-control" required ng-model="category.name"/>
                        <span class="error" ng-if="addCategoryForm.name.$error.required">* Name is required! </span>
                        <br>
                        <br>
                        <button ng-disabled="addCategoryForm.$invalid" type="button" class="btn btn-primary" ng-click="saveCategory(category)" >
                           OK
                        </button>
                    </div>
                </ng-form>
            </uib-tab>
        </uib-tabset>
    </form>
</div>