<div class="row">
  <div class="col">
    <div class="list-group mb-4 mt-3 mt-lg-0">
      <button type="button" [ngClass]="{active: selectedCategoryId === null}" class="btn btn-outline-secondary list-group-item" (click)="onCategorySelect(null)">All</button>
      <button *ngFor='let categroy of categoryService.categories' type="button"[ngClass]="{active: selectedCategoryId === categroy.id}" class="btn btn-outline-secondary list-group-item" (click)="onCategorySelect(categroy.id)">{{ categroy.name }}</button>
    </div>
  </div>
</div>